body {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #040404;
    color: rgb(247, 240, 239);
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #0c0c0c;
    color:rgb(247, 240, 239);
    padding: 20px 0;
}

header h1 {
    margin: 0;
    padding-bottom: 15px;
}

a{
    text-decoration: none;
    color:rgb(247, 240, 239);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(247, 240, 239);
    text-decoration: none;
}

section {
    padding: 50px 0;
}

section h2 {
    text-align: center;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    width: 600px;
    margin: 20px;
    text-align: center;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

.portfolio-item img{
    transition: ease-in 0.1s;

}

.portfolio-item img:hover{
    opacity: 70%;
} 

footer {
    background-color: #0c0c0c;
    color: rgb(247, 240, 239);
    text-align: center;
    padding: 20px 0;
    justify-content: center;
}

#about {
    text-align: center;
}

.fa-brands{
    font-size: 30px;
    color: rgb(247, 240, 239);
    letter-spacing: 20px;
}

.right{
    text-align: center;
}

video{
    width: 1300px;
    margin-bottom: 50px;
}

.d-kolona-1 {flex-basis: 8.33%;}
.d-kolona-2 {flex-basis: 16.66%;}
.d-kolona-3 {flex-basis: 25%;}
.d-kolona-4 {flex-basis: 33.33%;}
.d-kolona-5 {flex-basis: 41.66%;}
.d-kolona-6 {flex-basis: 50%;}
.d-kolona-7 {flex-basis: 58.33%;}
.d-kolona-8 {flex-basis: 66.66%;}
.d-kolona-9 {flex-basis: 75%;}
.d-kolona-10 {flex-basis: 83.33%;}
.d-kolona-11 {flex-basis: 91.66%;}
.d-kolona-12 {flex-basis: 100%;}

@media (max-width: 1100px){ 
    .t-kolona-1 {flex-basis: 8.33%;}
    .t-kolona-2 {flex-basis: 16.66%;}
    .t-kolona-3 {flex-basis: 25%;}
    .t-kolona-4 {flex-basis: 33.33%;}
    .t-kolona-5 {flex-basis: 41.66%;}
    .t-kolona-6 {flex-basis: 50%;}
    .t-kolona-7 {flex-basis: 58.33%;}
    .t-kolona-8 {flex-basis: 66.66%;}
    .t-kolona-9 {flex-basis: 75%;}
    .t-kolona-10 {flex-basis: 83.33%;}
    .t-kolona-11 {flex-basis: 91.66%;}
    .t-kolona-12 {flex-basis: 100%;}
}

@media (max-width: 700px){
    .m-kolona-1 {flex-basis: 8.33%;}
    .m-kolona-2 {flex-basis: 16.66%;}
    .m-kolona-3 {flex-basis: 25%;}
    .m-kolona-4 {flex-basis: 33.33%;}
    .m-kolona-5 {flex-basis: 41.66%;}
    .m-kolona-6 {flex-basis: 50%;}
    .m-kolona-7 {flex-basis: 58.33%;}
    .m-kolona-8 {flex-basis: 66.66%;}
    .m-kolona-9 {flex-basis: 75%;}
    .m-kolona-10 {flex-basis: 83.33%;}
    .m-kolona-11 {flex-basis: 91.66%;}
    .m-kolona-12 {flex-basis: 100%;}
}

p{
    text-align: center;
    text-wrap: wrap;
}

textarea{
    background-color: bisque;
}

.portfolio-table{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table tr td {
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted #ffff;
    text-align: center;
    border-collapse: collapse;
}

tr td{
    padding: 10px;
    border-radius: 10px;
}

caption{
    padding-bottom: 20px;
}